logs
target
bin
RUNNING_PID

.idea
.idea_modules
.classpath
.project
.settings
.DS_Store
.cache*
.sass-cache
.vscode
.metals
node_modules

*.lock
*.jar

application-log-*
activator-launch-*
*.iml
*.swp
